<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Валюты</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<script type="text/javascript">

    function showCurrency() {
        $.get('https://www.nbrb.by/api/exrates/rates/431', function (data) {
            console.log(data);

            let table ="<table border='1'><tr><th>Cur_ID</th><th>Date</th><th>Cur_Abbreviation</th><th>Cur_Scale</th><th>Cur_Name</th><th>Cur_OfficialRate</th></tr>";

            for (i = 0; i < data.length; i++) {
                table = table +
                    "</td><td>" + data[i].Cur_ID +
                    "</td><td>" + data[i].date +
                    "</td><td>" + data[i].Cur_Abbreviation +
                    "</td><td>" + data[i].Cur_Scale +
                    "</td><td>" + data[i].Cur_Name +
                    "</td><td>" + data[i].Cur_OfficialRate;
            }
            table = table + "</table>"

            $("#currency").html(table);
        })
    }

    $(document).ready(function () {
        showCurrency();
    });

    function send_employee() {


        $.ajax({
            url: 'https://www.nbrb.by/api/exrates/rates/431',
            dataType: 'json',
            type: 'GET',
            cache: false,
            contentType: 'application/json',
            data: JSON.stringify({
                Cur_ID: $("#Cur_ID").val(),
                date: $("#Date").val(),
                Cur_Abbreviation: $("#Cur_Abbreviation").val(),
                Cur_Scale: $("#Cur_Scale").val(),
                Cur_Name: $("#Cur_Name").val(),
                Cur_OfficialRate: $("#Cur_OfficialRate").val()
            }),
            success: function () {
                showCurrency();
            }
        })
    }


</script>
<body>
<h2 >Курсы валют </h2><br>
<div id="currency">
</div><br>

</body>
</html>